.direnv/
.dockerignore
**/.env*
.git/
.github/
.gitignore
.pnpm-store/
.worktrees/
**/.cache/
**/.next/
**/.nitro/
**/.output/
**/.turbo/
**/build/
**/coverage/
**/dist/
**/node_modules/
**/out/
**/test-data/
**/*.db*
**/*.log
**/*.pem
**/*.sqlite*
**/*.tsbuildinfo
**/.DS_Store
.nvmrc
.prettierignore
**/AGENTS.md
**/Dockerfile*
**/README*
compose.y*ml
flake.*
turbo/
